---
import "../styles/global.css";
import ogImage from "../images/og-image-sinvois.png";
interface Props {
  title: string;
  description?: string;
}
const {
  title,
  description = "Cara simpel buat invoice, 1 menit langsung jadi.",
} = Astro.props;
const ogImageUrl = new URL(ogImage.src, Astro.site);
---

<!doctype html>
<html lang="id" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <meta property="og:title" content={`Sinvois | ${title}`} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImageUrl} />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={`Sinvois | ${title}`} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImageUrl} />
    <!-- Umami Analytics -->
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="1fec51f5-28a0-4a25-b825-63c47808d7b8"></script>

    <!-- Google Analytics -->
    <meta
      name="google-site-verification"
      content="Y3CdGKIC5nYX64ww36RlFgF4RaSy_YcTRZn-ue3Uih8"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Sinvois | {title}</title>
  </head>
  <body class="min-h-screen bg-bg">
    <slot />
  </body>
</html>
